
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
composer.lock
symfony.lock
###< symfony/framework-bundle ###


/.idea
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
