{% extends "base.html.twig" %}
{% import "layout/macros/buttons.html.twig" as buttons %}
{% import "layout/macros/scripts.html.twig" as scripts %}
{% block title %}Administrators List{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('admins_list') }}">Administrators list</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-flat">
         <div class="panel-heading">
             {{ buttons.addItem("New Administrator",path("admins_form")) }}
         </div>
         <table class="table" id="myTable">
             <thead>
             <tr>
                 <th>Name</th>
                 <th>phone number</th>
                 <th>Email</th>
                 <th>Locked</th>
                 <th>Actions</th>
             </tr>
             </thead>
         </table>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable("admins_list",'{data: "fullName"},{data: "mobile"},{data: "email"},{data: "locked"},{data: "actions", orderable: false,width:"10%"}') }}
    <script>
        $(document).ready(function () {
            $('#myTable').on('click', '.changeLock', function () {
                var id = $(this).data('id');
                var locked = $(this).data('locked');
                if (locked == 'on')
                    $(this).parent().html('<button type="button" data-id="' + id + '" data-locked="off" class="changeLock btn btn-success btn-icon btn-rounded btn-sm"><i class="icon-unlocked"></i></button>');
                else
                    $(this).parent().html('<button type="button" data-id="' + id + '" data-locked="on" class="changeLock btn btn-danger btn-icon btn-rounded btn-sm"><i class="icon-lock4"></i></button>');
                $.ajax({
                    url: '{{ path('admins_change_lock') }}',
                    data: {'id': id},
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {

                    }
                });
            })
        })
    </script>
{% endblock %}
