{% extends "base.html.twig" %}
{% block title %}Categories List{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('categories_list') }}">Categories list</a></li>
{% endblock %}
 {% block body %}
<div class="content">  <div class="panel panel-flat">
        <div class="panel-heading-custom">
            {{ buttons.addItem("New Category",path("categories_form")) }}
        </div>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div></div>

 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable("categories_list",'{data: "name"},{data: "actions", orderable: false,width:"10%"}') }}
{% endblock %}
