{% extends "dashboard/index.html.twig" %}
{% block title %}Terminals List{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('terminal_list') }}">Terminal List</a></li>
{% endblock %}
 {% block body %}
     <div class="panel panel-flat">
         <div class="panel-heading">
             {{ buttons.addItem("New Terminal",path("terminal_form")) }}
         </div>
         <table class="table" id="myTable">
             <thead>
             <tr>
                 <th>Name</th>
                 <th>Longitude</th>
                 <th>Latitude</th>
                 <th>Actions</th>
             </tr>
             </thead>
         </table>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable("terminal_list",'{data: "name"},{data: "longitude"},{data: "lattitude"},{data: "actions", orderable: false,width:"10%"}') }}
{% endblock %}
