{% import ":layout/macros:buttons.html.twig" as buttons %}
{% if viewType=="image" %}
    <div>
        {{ buttons.imageAction(item.image)}}
    </div>
{% endif %}
{% if viewType =="remark" %}
    {% if item.tanks|length==0 %}
        <span class="label label-danger">No tanks</span>
    {% endif %}
    {% if not item.excel %}
        <span class="label label-warning">No Excel</span>
    {% endif %}
    {% for tank in item.tanks %}
        {% if not item.isExistTank(tank.name)  %}
            <span class="label label-default">{{ tank.name }} no confirmed</span>
        {% endif %}
    {% endfor %}
{% endif %}
