{% extends "base.html.twig" %}
{% block title %}Cities List{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('cities_list') }}">Cities list</a></li>
{% endblock %}
 {% block body %}
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading-custom">
            {{ buttons.addItem("New City",path("cities_form")) }}
        </div>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

 {% endblock %}
{% block javascripts %}
    {{ scripts.dataTable("cities_list",'{data: "country"},{data: "name"},{data: "actions", orderable: false,width:"10%"}') }}
{% endblock %}
