{% extends "base.html.twig" %}
{% import "layout/macros/buttons.html.twig" as buttons %}
{% import "layout/macros/scripts.html.twig" as scripts %}
{% block title %}{{ "Dashboard"|trans }}{% endblock %}
{% block body %}
<h1>Zied  !!!!</h1>
{% endblock %}
