{% import ":layout/macros:buttons.html.twig" as buttons %}
{% if viewType == "actions" %}
    <ul class="icons-list">
        <li>{{ buttons.deleteAction(path("port_type_delete",{id:item.id})) }}</li>
        <li>{{ buttons.updateAction(path("port_type_form",{id:item.id})) }}</li>
    </ul>
    <script>$('[data-popup="tooltip"]').tooltip();</script>
{% endif %}
